
@{
    ViewBag.Title = "How to use the App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>How to use the App</h2>

<div class="row border rounded py-3 px-3 mt-5">
    <div class="col">
        <div class="row pb-3">
            <div class="col fw-bold">Register new account and Login</div>
        </div>
        <div class="row">
            <div class="col-3" style="background-image: url(../../Content/imgs/signup.jpg); background-size: cover; height: 300px"></div>
            <div class="col">
                To fully use the functionality of our application, you must be a registered user.
                To register you need to go to the registration form (@Html.ActionLink("Register", "Register", "Account")).
                In the form, please provide some information - email and password.
                After creating your account, all you need to do is log in to your account and you can use all the available functionalities.
            </div>
        </div>
    </div>
</div>

<div class="row border rounded py-3 px-3 mt-2">
    <div class="col">
        <div class="row pb-3">
            <div class="col fw-bold">How to use Food Catalogue</div>
        </div>
        <div class="row">
            <div class="col-3" style="background-image: url(../../Content/imgs/foodcatalogue.jpg); background-size: cover; height: 300px"></div>
            <div class="col">
                The food catalog is a simple database containing basic information about food from various categories, as well as information about its nutritional values.
                Search, filter, sort and view food contained in it, when you eat something that you just ate, you can add it to your caloric diary.
                To enter the Food catalog, select the appropriate option from the top navigation panel.
            </div>
        </div>
    </div>
</div>

<div class="row border rounded py-3 px-3 mt-2">
    <div class="col">
        <div class="row pb-3">
            <div class="col fw-bold">How to add food to Diary</div>
        </div>
        <div class="row">
            <div class="col-3" style="background-image: url(../../Content/imgs/addtodiary.jpg); background-size: cover; height: 300px"></div>
            <div class="col">
                When you are logged in and you have found the food you are interested in from the catalog, go into the details of the item and enter the amount in grams you have eaten. This way, you can easily track your diet, calories, fat, sugar and protein consumed.
            </div>
        </div>
    </div>
</div>


<div class="row border rounded py-3 px-3 mt-2">
    <div class="col">
        <div class="row pb-3">
            <div class="col fw-bold">How to use My Diary</div>
        </div>
        <div class="row">
            <div class="col-3" style="background-image: url(../../Content/imgs/fooddiary.jpg); background-size: cover; height: 300px"></div>
            <div class="col">
                Your journal is where you can see the details of your food, and how the food affects your calories, fat, protein, and carbohydrate intake.
                You can easily access today's details, see what you ate in the previous days, and reset the today's counter. In order to prevent cheating we have removed the possibility to modify the previous days.
            </div>
        </div>
    </div>
</div>

<div class="row border rounded py-3 px-3 mt-2">
    <div class="col">
        <div class="row pb-3">
            <div class="col fw-bold">What is Calories Counter and how to reset it?</div>
        </div>
        <div class="row">
            <div class="col-3" style="background-image: url(../../Content/imgs/resetcounter.jpg); background-size: cover; height: 300px"></div>
            <div class="col">
                To reset the counter, just click "Reset" with the red cross next to it. This option is available from the top navigation panel, in the footer of the page, and from your Diary.
                Remember that by resetting the log you are only removing today's food. Data from the preceding days can no longer be modified.
                We removed this possibility due to attempts at frauds and delusions, in particular among close friends who tried to prove that they eat little and still get fat.
            </div>
        </div>
    </div>
</div>

<div class="row border rounded py-3 px-3 mt-2">
    <div class="col">
        <div class="row pb-3">
            <div class="col fw-bold">How to contact the App`s Owners and how to sign up for the newsletter?</div>
        </div>
        <div class="row">
            <div class="col-3" style="background-image: url(../../Content/imgs/contact.jpg); background-size: cover; height: 300px"></div>
            <div class="col">
                <p>The way of contact is very simple, just use the contact form - well, it's that simple. You give us your e-mail, name and whatever you wanted to tell us. We sincerely advise against wasting our time because we know ways to exclude such annoying people from our application.</p>

                <p>You subscribe to the newsletter in the same way, you just need to additionally tick the appropriate box in the contact form by sending us a message. It is worth writing what you deserved to receive our precious newsletter and what justified the positive consideration of such a request.</p>
            </div>
        </div>
    </div>
</div>