
@{
    ViewBag.Title = "Knowledge Base";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Knowledge Base</h2>
<p class="lead fw-normal text-muted mb-5 mb-lg-0">
    Here you can find all the informations needed to start taking care of your diet and yourself.
</p>

    </div>
<section class="bg-white">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Understanding calories</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">The perfect place to understand why you need to understand calories and learn more about the food and the amounts you eat. It is extremely important for your health and affects your loved ones. Come in and find out more ...</p>
                <button class="btn btn-primary rounded-pill px-3 mt-5 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal" onclick="location.href='@Url.Action("UnderstandCalories", "Home")'; return false;">
                    <span class="d-flex align-items-center">
                        <i class="bi bi-link-45deg me-2"></i>
                        <span class="small">Read More...</span>
                    </span>
                </button>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0" style="background: url('/Content/imgs/food.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; border-radius: 50%; height: 400px; width: 400px">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0" style="background: url('/Content/imgs/listener.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; border-radius: 50%; height: 400px; width: 400px">

                </div>
            </div>
            <div class="col-12 col-lg-5 text-white">
                <h2 class="display-4 lh-1 mb-4">Podcasts</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">We have a collection of very cool podcasts for you that will help you develop your knowledge about food and maintaining a proper diet. Click and start listening now.</p>
                <button class="btn btn-primary rounded-pill px-3 mt-5 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal" onclick="location.href='@Url.Action("Podcasts", "Home")'; return false;">
                    <span class="d-flex align-items-center">
                        <i class="bi bi-link-45deg me-2"></i>
                        <span class="small">Read More...</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">How to use Our App</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">A place where you will learn in brief how to use our application. If you still have problems, you can contact us via the contact form.</p>
                <button class="btn btn-primary rounded-pill px-3 mt-5 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal" onclick="location.href='@Url.Action("HowTo", "Home")'; return false;">
                    <span class="d-flex align-items-center">
                        <i class="bi bi-link-45deg me-2"></i>
                        <span class="small">Read More...</span>
                    </span>
                </button>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0" style="background: url('/Content/imgs/guide.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; border-radius: 50%; height: 400px; width: 400px">

                </div>
            </div>
        </div>
    </div>
</section>
<div class="firstsection">
