
@{
    ViewBag.Title = "Podcasts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Podcasts</h2>
<div style="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_1_Introducing_5_2_December_2014.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 1 - Introducing</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                Some introduction to subject of Diet and Calories for total dummies.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_2_Planning_for_your_first_fast.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 2 - Planning for your first fast</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                Fasting is a great way to detoxify your body and amplify your body`s regeneration abilities.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_3_Your_fast_day_survival_guide.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 3 - Your fast day survival guide</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                Fasting requires great determination and willpower. Find out how to increase your chances of success.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_4_What_to_Eat_on_a_Fast_Day_-_a_menu_of_food_ideas_Jan_2015.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 4 - What to_Eat on a Fast Day - a menu of food ideas</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                Some ideas on how to get clogged up on a lenten day.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_5_-_how_to_love_your_food_on_non-fast_days_without_overdoing_it.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 5 - How to love your food on non - fast days without overdoing it</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                What more can be said, the title of the episode says all that could be said about its content.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_6_Your_flexible_5_2_diet.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 6 - Your flexible 5 2 diet</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                Probably something about stretching and warming up before a heavy meal. Honestly, I haven't listened to this podcast.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_7_Pippa_story_plus_advice_on_weighing_in.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 7 - Pippa`s story plus advice on weighing in</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                The story of a woman who tells how to gain weight quickly and painlessly and why you shouldn't do it.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_8_Mr_and_Mrs_5_2_and_their_57_kilo_weight_loss.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 8 - 57 kilo weight loss</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                A podcast about how a family misses their lost pounds, but misses the way they miss the black sheep in the family.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_9_Foodie_fasting_in_France_Belinda_Berry.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 9 - Foodie fasting in France</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                A French young girl's adventure with French cuisine, which at every step tries to lead astray a person who wants to lose kilograms.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_10_Simones_guide_to_losing_weight_with_a_disability.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 10 - Simone`s guide to losing weight with a disability</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                A guide for people with disabilities about how not to be fully functional can still lose weight here and there.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_11_Sharons_quest_to_lose_11_stone_or_70kg.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 11 - Sharon`s quest to lose 11 stones</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                A beautiful story about a tireless, brave person on her way to lose stones.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_12_Trudies_success_after_27_years_of_yoyo_dieting.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 12 - Trudie`s success after 27 years of yoyo dieting</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                We know you have enough, but just one last story about how someone finally found out what the diet is all about and finally succeeded and lost some weight.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <audio id="audio"
                   class="video-js vjs-default-skin"
                   controls
                   preload="auto"
                   width="300"
                   height="200"
                   poster="/Content/imgs/food.jpg"
                   data-setup="{}">
                <source src="~/Content/podcasts/5_2_Diet_Podcast_Ep_16_QA.mp3" type="audio/mp3" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </audio>
        </div>
        <div class="col-md-8">
            <h3>Episode 16 - Q`n`A</h3>
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                After many inquiries from our users, we deleted episodes 13 to 15 (they are still available on DVD for just £ 49.99). Here, however, you can listen to directed questions from our pretended customers to convince you to use our application.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
}